@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-weight: 500;
    min-width: 30.5rem;
}
html {
    font-size: 16px;
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 26px;
    }
    .ant-upload {
        width: 200px !important;
        height: 200px !important;
    }
    .ant-upload-text{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 450px) {
    html {
        font-size: 24px;
    }
    .ant-upload {
        width: 200px !important;
        height: 200px !important;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
i {
    cursor: pointer;
}
a {
    text-decoration: none;
}
/*-----------global-----------*/
.container {
    max-width: 90%;
    margin: auto;
}
.flexSB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex {
    display: flex;
}
.paddingTB {
    padding: 2.5rem 0;
}
.paddingSmall {
    padding: 1.25rem 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.category {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding: 0.3125rem 0.625rem;
    letter-spacing: 0.125rem;
    background-color: purple;
}
.row {
    width: 50%;
}
.images {
    position: relative;
}
.category1 {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 0.3125rem solid #fb4c35;
    width: auto;
    display: block;
    background: linear-gradient(to right, #fb4c35 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.category1 span {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0;
}
.category1:hover {
    background-position: left bottom;
}
.category1 span:hover {
    color: #fff;
}
.title {
    font-weight: 600;
    font-size: 1.0625rem;
    margin-bottom: 0.9375rem;
}
.comment i,
.date i {
    width: 1.875rem;
    color: #fb4c35;
    font-size: 0.8125rem;
}

.comment label,
.date label {
    font-size: 0.8125rem;
    color: #868585;
}
.desc {
    font-size: 0.8125rem;
    margin: 0.625rem 0;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.9375rem 0.625rem -0.625rem;
}

.loginForm .ant-form-item-explain-error {
    font-size: 28px !important;
}

/*-----------global-----------*/
