.main .container {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.mainContent {
    width: 75%;
}
.sideContent {
    width: 23%;
}
.sideContent .heading h6 {
    background-color: #000;
}
@media screen and (max-width: 820px) {
    main .container {
        flex-direction: column;
    }
    .mainContent {
        width: 100%;
    }
    .sideContent {
        width: 100%;
    }
}
