.container {
    padding-top: 7rem;
    padding-inline: 22rem;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.description {
    font-style: italic;
    color: grey;
    margin-top: 1rem;
}

.content {
    margin-top: 3rem;
}
